<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>servlets.AddFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendRequestServlet</servlet-name>
        <servlet-class>servlets.FriendRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUserServlet</servlet-name>
        <servlet-class>servlets.searchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePictureServlet</servlet-name>
        <servlet-class>servlets.ProfilePictureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/AddFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendRequestServlet</servlet-name>
        <url-pattern>/FriendRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUserServlet</servlet-name>
        <url-pattern>/searchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePictureServlet</servlet-name>
        <url-pattern>/ProfilePictureServlet</url-pattern>
    </servlet-mapping>
</web-app>
